{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}
{% for area in areas %}
<h3>{{ area.city }}, {{ area.state }}</h3>
	<ul class="items">
		{% for venue in area.venues %}
		<li>
			<a href="/venues/{{ venue.id }}">
				<i class="fas fa-music"></i>
				<div class="item">
					<h5>{{ venue.name }}</h5>
				</div>
				<button class="delete-button" data-id="{{venue.id}}"> Delete! </button>
			</a>
		</li>
		{% endfor %}
	</ul>

	<script>
		const dButton = document.querySelectorAll(".delete-button")
		dButton.forEach(button => {
			button.onclick = (e) => {
				e.preventDefault()
				fetch(`/venues/${e.target.dataset.id}`, {
					method: 'DELETE'
				})
				.then(res => {
					window.location.href = res.url;
				})
			}
		});
	</script>
{% endfor %}
{% endblock %}